@import "./variables";
.about-wrapper{
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 70% 25%;
    margin-top: 5rem;
    gap: 2em;
    
    .about{
        border: 1px solid $post_border_color;
        background-color: white;
        padding: 10px;
        height: fit-content;
        .about-head{
            margin: 0;
            padding: 1rem 0 1rem 0;
            border-bottom: 1px solid $post_border_color;
            font-size: 30px;
            font-weight: 400;
        }
        p{
            text-align: left;
            padding-top: 1rem;
            margin-bottom: 1rem;
            font-size: 15px;
        }
    }
    @import "./side-content";
}