.main-post{
    background-color: white;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0px 0px 10px antiquewhite;
    position: relative;
  
    .image{
        width: 100%;
        height: 220px;
        transition: 0.3s ease-in-out;
        margin: 0;
        padding: 0;
        transform: scale(1);
  
        &:hover{
          opacity: 0.8;
          transform: scale(1.1);
          transition: 0,3s ease-in-out;
      }
    }
    .post-category{
        font-size: 12px;
        color: #000000;
        font-weight: bold;
        background-color: #fdfdff;
        border: 1px solid #fdfdff;
        border-radius: 3px;
        margin: 0;
        text-align: center;
        position: absolute;
        top: 10px;
        left: 10px;
        display: block;
        height: 30px;
        padding:3px 8px 3px 8px;
        transition: 0.3s;
        text-transform: uppercase;
    }
    .post-category:hover{
        border: 1px solid $headcolor;
        background-color: $headcolor;
        transition: 0.3s;
        color: #fdfdff;
    }
    .post-preview-wrapper{
        margin: 10px;
        padding: 5px;
  
        .post-title{
            display: block;
            color: #000000;
            font-size: 1.3rem;
            font-weight: bold;
            border: none;
            padding-left: 0;
        }
        .post-preview{
            border-top:2px solid whitesmoke;
  
            span i{
                padding: 3px;
            }
            i{
                padding: 3px;
            }
            .author-name{
                font-size: 0.9rem;
                color: #AAAAAA;
                padding: 3px;
            }
            .author-name:hover{
                color: $headcolor;
            }
            .post-date{
                font-size: 0.9rem;
                color: #AAAAAA;
                padding: 3px;
            }
            .post-date:hover{
                color: $headcolor;
            }
            .desc {
                width:100%;
                overflow: hidden;
                position: relative;
                line-height: 1.2em;
                max-height: 6em;
                text-align: justify;
                margin-right: -1em;
                padding-right: 1em;
                margin-bottom: 1rem;
              }
              .desc:before {
                content: '...';
                position: absolute;
                right: 0;
                bottom: 0;
              }
              .desc:after {
                content: '';
                position: absolute;
                right: 0;
                width: 1em;
                height: 1em;
                margin-top: 0.2em;
                background: white;
              }
        }
    }
  }