.home-footer{
  display:flex;
      flex-flow:column;
      justify-content:center;
      align-items:center;
      position: static;
      bottom: 0%;
      width: 100%;
      line-height: 34px;
      background-color: #1f2024;
      box-shadow: 0 0 10PX #000;
      text-align: center;
      margin: 0 auto;
      padding:0;
      border:0px solid red;
      
      ul{
         margin: 10px;
          list-style: none;
          
          li{
              font-size: 11px;
              font-weight: bold;
              text-transform:uppercase;
              display: inline-block;
              padding:0 5px;
          
              a{
                  margin:0;
                  padding:0;
                  border: none;
                  color:#FFFFFF;
                  text-decoration: none;
              }
          }
      }
      
      p{
          color:white;
          margin: 5px auto;
      }
      
      p .brand-name{
          
          font-size: 16px;
          color:#0be6af;
      }
      
      p span{
          color:red;
      }
}
footer{
      display:flex;
      flex-flow:column;
      justify-content:center;
      align-items:center;
      position: fixed;
      bottom: 0%;
      width: 100%;
      line-height: 34px;
      background-color: #1f2024;
      box-shadow: 0 0 10PX #000;
      text-align: center;
      margin: 0 auto;
      padding:0;
      border:0px solid red;
      
      ul{
         margin: 10px;
          list-style: none;
          
          li{
              font-size: 11px;
              font-weight: bold;
              text-transform:uppercase;
              display: inline-block;
              padding:0 12px;
              margin: 0;
          
              a{
                  margin:0;
                  padding:0;
                  border: none;
                  color:#FFFFFF;
                  text-decoration: none;
              }
          }
      }
      
      p{
          color:white;
          margin-bottom: 20px;
          padding-left: 10px;
      }
      
      p .brand-name{
          
          font-size: 16px;
          color:#0be6af;
      }
      
      p span{
          color:red;
      }
}

.single-footer{
  position: static;
  display: block;
  bottom: 0%;
  width: 100%;
  height: 60px;
  background-color: wheat;
  box-shadow: 0 0 10PX #000;
  text-align: center;
  margin: 0 auto;
}