@import "./mixins";
@import "./variables";

.homepage-header-wrapper{
    @include flexCenter();
    align-items: initial;
    header {
        height: 70px;
        background: transparent;
        width: 60%;
        margin: 0 auto;
        position: absolute;
        box-shadow: none;
        border: none;
        z-index: 1;
        a{
            border: none;
        }
        .logo{
        float: left;
        height: inherit;
        margin-left: 1em;
        background-color: white;
      
         h3{
          font-size: 20px;
          padding: 10px;
          font-family: 'Poppins', sans-serif;
         }
      
        }
        .search-form{
            position: relative;
            .form-toggle{
                display: none   ;
                form{
                    width: 100%;
                    display: block;
                    margin: 0px auto;
                    
                    .search-text{
                        width: 100%;
                        text-align: justify;
                        border: none;
                        height: 70px;
                        position: relative;
                        outline: none;
                        padding: 0 58px 0 1rem;
                        
                }
                .hide{
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block;
                    width: 58px;
                    height: 70px;
                    background-color: rgba(255,255,255,0.05);
                    line-height: 70px;
                    z-index: 99;
                    color: #1f2024;
                    font-size: 16px;
                    font-weight: 400;
                    text-align: center;
                    cursor: pointer;
                    transition: color .17s ease;
                    margin-top: 1.5rem;
                    transition: 0.3s ease;

                    &:hover{
                        color: $headcolor;
                        transition: 0.3s ease;
                    }
                }
                }
                
            }
            .icon{
                height: 30px;
                background: transparent;
                border: none;
                cursor: pointer;
                float: right;
                top: 0;
                right: 0;
                display: grid;
                place-items: center;
                width: 58px;
                background-color: rgba(255,255,255,0.05);
                line-height: 70px;
                z-index: 20;
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                margin-top: 1.5rem;
            }
            .form-toggle.active{
                display: block;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                padding: 0;
                z-index: 99;
                transition: 0.5s ease;
            }
            .form-toggle.inactive{
                display: none;
                transition: 0.5s ease;
            }
        }
        ul{
            float: left;
            margin: 0px;
            list-style: none;
            padding: 0px;
        }
        ul li{
            float: right;
            position: relative;
            
            &:hover {
                background-color: rgba(255,255,255,0.05);
                transition: 0.5s;
                color:$navTextColor-hover;
            }
        }
        ul li a{
            display: block;
            padding: 20px;
            font-size: 13px;
            font-weight: 500;
            color: $navTextColor;
            text-decoration: none;
            transition: 0.5s;
            &:hover{
                background-color: rgba(255,255,255,0.05);
                transition: 0.5s;
                color:$navTextColor-hover;
            }
        }
        ul li ul{
            position: absolute;
            float: left;
            left: 0;
            top: 70px;
            width: 180px;
            background-color: #1f2024;
            z-index: 99;
            margin-top: 0;
            padding: 0;
            border: 1px solid #1f2024;
            visibility: hidden;
            display: none;
        } 
        ul li ul li{
            display: block;
            float: none;
            position: relative;
            background-color: rgba(255,255,255,0.03);
            border-bottom: 1px solid #1f2024;
            transition: .17s ease;
            &:hover ul{
                display: block;
                visibility: visible;
            } 
        }   
        ul li ul li a{
            display: block;
            height: 36px;
            font-size: 13px;
            color: #f2f2f2;
            font-weight: 600;
            line-height: 36px;
            margin: 0;
            padding: 0 15px;
            transition: color .17s ease;
            
            &:hover{
                color: $headcolor;
                transition: 0.3s;
            } 
        }   
        .hamburger
        {
            display: none;
        }
        .list.inactive{
            display: none;
            transition: 0.5s ease;
        }
        .list.active{
            display: block;
            transition: 0.5s ease;
        }
      }
}
.header-wrapper{
    @include flexCenter();
    align-items: initial;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 wheat;
    header {
        height: 70px;
        width: 60%;
        margin: 0 auto;
        border: none;
        a{
            border: none;
        }
        .logo{
        float: left;
        height: inherit;
        margin-left: 1em;
        background-color: white;
      
         h3{
          font-size: 20px;
          padding: 10px;
          font-family: 'Poppins', sans-serif;
         }
      
        }    
        .search-form{
            position: relative;
            .form-toggle{
                display: none;
                form{
                    width: 100%;
                    display: block;
                    margin: 0px auto;
                    
                    .search-text{
                        width: 100%;
                        text-align: justify;
                        border: none;
                        height: 70px;
                        position: relative;
                        outline: none;
                    }
                    .hide{
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: block;
                        width: 58px;
                        height: 70px;
                        background-color: rgba(255,255,255,0.05);
                        line-height: 70px;
                        z-index: 99;
                        color: #1f2024;
                        font-size: 16px;
                        font-weight: 400;
                        text-align: center;
                        cursor: pointer;
                        margin-top: 1.5rem;

                        &:hover{
                            color: $headcolor;
                            transition: 0.3s ease;
                        }
                    }
                }
                
            }
            .icon{
                height: 30px;
                background: transparent;
                border: none;
                cursor: pointer;
                float: right;
                top: 0;
                right: 0;
                display: grid;
                place-items: center;
                width: 58px;
                background-color: rgba(255,255,255,0.05);
                line-height: 70px;
                z-index: 20;
                color: #1f2024;
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                margin-top: 1.5rem;
            }
            .form-toggle.active{
                display: block;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                padding: 0;
                z-index: 99;
            }
            .form-toggle.inactive{
                display: none;
            }
            }      
            ul{
            float: left;
            margin: 0px;
            list-style: none;
            padding: 0px;
        }
            
            ul li{
            float: right;
            position: relative;  
            
            }
            ul li form{
                    width: 100%;
                    display: block;
                    margin: 15px auto;
                    padding-right: 50px;
                    
                    .search-text{
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 70px;
                        z-index: 99;
                        background-color: #ffffff;
                        box-sizing: border-box;
                        padding: 0;
                    }
                    .search-button{
                        height: 30px;
                        border: none;
                        cursor: pointer;
                        float: right;
                    }
                }
            
            
            ul li a{
            display: block;
            padding: 20px;
            font-size: 14px;
            font-weight: 600;
            color: black;
            text-decoration: none;
            transition: 0.5s;
        }
            
            ul li a:hover{
            background-color: rgba(255,255,255,0.05);
            transition: 0.5s;
            color:$navTextColor-hover;
            
        }  
            ul li ul{
                position: absolute;
                float: left;
                left: 0;
                top: 70px;
                width: 180px;
                background-color: #1f2024;
                z-index: 99;
                margin-top: 0;
                padding: 0;
                border: 1px solid #1f2024;
                visibility: hidden;
                display: none;
            }
             
            ul li ul li{
                display: block;
                float: none;
                position: relative;
                background-color: rgba(255,255,255,0.03);
                border-bottom: 1px solid #1f2024;
                transition: .17s ease;
        }   
            ul li ul li a{
                display: block;
                height: 36px;
                font-size: 13px;
                color: #f2f2f2;
                font-weight: 600;
                line-height: 36px;
                margin: 0;
                padding: 0 15px;
                transition: color .17s ease;
      
        }   
            ul li ul li a:hover{
                color: $headcolor;
                transition: 0.3s;
        }   
            ul li:hover ul{
            display: block;
            visibility: visible;
        } 
            .hamburger
        {
            display: none;
        }
        .list.inactive{
            display: none;
        }
        .list.active{
            display: block;
        }
        .sub-list:hover {
            background-color: rgba(255,255,255,0.05);
            transition: 0.5s;
            color:$navTextColor-hover;

        }
      }
}


