.content{
  width: 65%;
  display: grid;
  grid-template-columns: 70% 25%;
  grid-gap: 1em;
  margin: 0 auto;
  margin-top: 1.5rem;
  
.pg_num {
  display: inline;
  float: right;
  margin-right: 30px;

  form{
      display: flex;
      width: 60px;
      height: 40px;
      margin-bottom: 0px;
      
      input{
          width: 200%;
          height: 100%;
          margin: 0px 3px;
      }
      button{
          width: 100%;
          height: 70%;
          margin: 0px 3px;
      }
  }
}

.main_content{
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2.0rem;
  grid-template-columns: 47.5% 47.5%;
  grid-auto-rows: max-content;
  background-color: #f8f8f8;
  padding: 0 5px;

@import "./card";

.index-homepage{
  width: 100%;
  height: 20px;
  margin: 10px auto;
}
}
@import "./side-content";

}