@import "./variables";
@mixin displayMsgs($borderColor, $bgColor) {
  color: black;
  border: 1px solid $borderColor;
  background-color: $bgColor;
}
@mixin userInputForms {
  width: 30%;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid $post_border_color;
}
@mixin formTitle {
  text-align: left;
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid $post_border_color;
}
@mixin formText {
  display: block;
  margin: 20px auto;
  text-align: center;
  width: 400px;
  height: 50px;
  border: 1px solid $post_border_color;
  outline: none;
}
@mixin formButton {
  display: block;
  margin: 20px auto;
  width: 150px;
  height: 30px;
  background-color: #1f2024;
  color: #ffffff;
  text-align: center;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin footer {
  display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    position: fixed;
    bottom: 0%;
    width: 100%;
    line-height: 34px;
    background-color: #1f2024;
    box-shadow: 0 0 10PX #000;
    text-align: center;
    margin: 0 auto;
    padding:0;
}