.main-content-search{
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2.0rem;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-auto-rows: max-content;
  background-color: #f8f8f8;
  padding: 0 5px;
overflow: hidden;
  .main-post-search{
    background-color: white;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0px 0px 10px antiquewhite;
    position: relative;
      
      .image{
        width: 100%;
        height: 220px;
        transition: 0.3s;
        margin: 0;
        padding: 0;

        &:hover{
          opacity:0.8;
        }
      }
      .post-preview{
          padding: 10px;
          text-align: left;
          border: none;

          .post-title{
              border: none;
              text-align: center;
          }
          .preview-text{
              text-align: left;
          }
      }
      .edit-delete-btn{
          display: flex;
          list-style: none;
          bottom: 10px;
          right: 10px;
          position: absolute;

          .li{
              margin: 5px;
          }
          .btn.edit-link{
             background-color: green;
             margin-right: 5px;
          }
          .btn.delete-link{
             background-color: red;
             margin-left: 5px;
          }
      }
  }
}