.side-content{
  border: 0px solid red;
  width: 100%;
  
  .side-posts{
    width: 100%;
    display: block;
    .social{
        width:100%;
        padding: 10px;
        margin-bottom: 2rem;
        background-color: white;
        border: 1px solid $post_border_color;
        .social-title{
            margin: 0;
            border-bottom:3px solid whitesmoke;
            color: $headcolor;
            font-size: 17px;
            font-weight: 600;
            line-height: 34px;
        }
        .social-icons{
            width: 100%;
            display: grid;
            grid-template-columns: 18% 18% 18% 18% 18%;
            grid-gap: 0.5rem;
            text-align: center;
            font-size: 1.5rem;
            padding: 10px;
            margin: 0 auto;
            list-style-type:none;
            
  
            li{
                width: 44px;
                height: 40px;
                border: 0px solid rgb(25, 0, 255);
            }
        }
        .fb{
            background-color: #3b5999;
            color: white;
            padding: 10px;
        }
        .tw{
            background-color: #00acee;
            color: white;
            padding: 10px;
        }
        .ln{
            background-color: #0077b5;
            color: white;
            padding: 10px;
        }
        .rd{
            background-color: #ff4500;
            color: white;
            padding: 10px;
        }
        .pn{
            background-color: #ca2127;
            color: white;
            padding: 10px;
        }
        .vk{
            background-color: #4a76a8;
            color: white;  
            padding: 10px;     
        }
        .ins{
            background:linear-gradient(
                15deg
                ,#ffb13d,#dd277b,#4d5ed4);
            color: white;
            padding: 10px;
        }
        .yt{
            background-color: #db4a39;
            color: white;
            padding: 10px;
        }
        .wt{
            background-color: #3fbb50;
            color: white;
            padding: 10px;
        }
        .rss{
            background-color: #ffc200;
            color: white;
            padding: 10px;
        }
    }
    .popular-post-wrapper{
        border: 0px solid red;
        background-color: white;
        padding: 10px;
        margin-bottom: 2rem;
        border: 1px solid $post_border_color;
  
        .popular-posts-title{
          h2{
              margin: 0;
              padding: 0 0 10px 0;
              color: $headcolor;
              font-size: 17px;
              font-weight: 600;
              line-height: 34px;
              border-bottom:3px solid whitesmoke;
          }
        }
      .popular-post{
          display: grid;
          width: 100%;
          grid-template-columns: 30% 60%;
          grid-gap: 0.5rem;
          padding: 10px 0 0px 0;
      
          .popular-post-title{
                  width: 100%;
                  margin: 0;
                  font-size: 15px;
                  font-weight: 400;
                  line-height: 34px;
          }
          .popular-image{
              width: 100%;
              margin: 0;
              padding: 0 0 0 0;
              border-radius: 5px;
          }
      }
    }
    .subscribe-wrapper{
        background-color: white;
        padding: 20px;
        border: 1px solid $post_border_color;
        border: 0px solid red;
        margin-bottom: 2rem;
  
        h2{
            margin: 0;
            padding: 0 0 10px 0;
            border-bottom:3px solid whitesmoke;
            color: $headcolor;
            font-size: 17px;
            font-weight: 600;
            line-height: 34px;
        }
    }
    .facebook-wrapper{
        background-color: white;
        padding: 20px;
        border: 1px solid $post_border_color;
        border: 0px dashed blue;
        margin-bottom: 2rem;
        h2{
            margin: 0;
            padding: 0 0 10px 0;
            border-bottom:3px solid whitesmoke;
            color: $headcolor;
            font-size: 17px;
            font-weight: 600;
            line-height: 34px;
        }
    }
    .side-category-wrapper{
        background-color: white;
        padding: 20px;
        border: 1px solid $post_border_color;
        border: 0px solid red;
        margin-bottom: 2rem;
  
        h2{
            margin: 0;
            padding: 0 0 10px 0;
            border-bottom:3px solid whitesmoke;
            color: $headcolor;
            font-size: 17px;
            font-weight: 600;
            line-height: 34px;
        }
  
        .categories{
            padding: 0px;
            li{
                list-style: none;
  
                a{
                    color: #000000;
                    font-size: 13px;
                    font-weight: 400;
                    text-transform: capitalize;
                    transition: color .17s;
                    border: none;
                    padding: 5px;
                    .count{
                        float: right;
                    }
                }
            }
        }
        }
    }
  }