$nav_btn_radius : 10px;
$line-height: 25px;
$headcolor:#75dab0;
$max-lines:3;
$navTextColor:#ffffff;
$navTextColor-hover:#1f2024;
$contactbtncolor:#2c3e50;
$post_border_color:#f2f2f6;
$bgcolor : white;