.contact-wrapper{
  display: block;
  margin: 3.5rem auto;
  padding: 0;
  width: 70%;
  box-sizing: border-box;

  .contact-head{
      background-color: white;
      font-size: 2rem;
      margin: 0;
      padding: 10px 1.2rem 20px 1.2rem;
      border-bottom:1px solid #f2f2f6;

      h2{
          font-family: 'Poppins', sans-serif;
          font-weight: normal;
          margin-top: 1rem;
          padding: 0;
      }
  }
  .contact{
      width: 70%;

      form{
          margin: 0;
          padding: 0;

          .contact-input{
              display: block;
              width: 45%;
              height: 50px;
              border: 1px solid #eee;
              margin: 2   0px;
              float: left;
          }
          .contact-input-msg{
              margin: 10px;
              width: 90%;
              border: 1px solid #eee;
          }
          .send{
              height: 50px;
              width: 90%;
              color: white;
              text-align: center;
              display: block;
              border: 1px solid rgb(50, 114, 66);
              background-color: rgb(50, 114, 66);
          }
      }
  }
}
