@import "./variables";
@mixin displayMsgs($borderColor, $bgColor) {
  color: black;
  border: 1px solid $borderColor;
  background-color: $bgColor;
}
@mixin userInputForms {
  width: 30%;
  margin: 50px auto;
  padding: 20px;
  background-color: wheat;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
}
@mixin formTitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}
@mixin formText {
  display: block;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0px 0px 10px #666;
  width: 400px;
  height: 70px;
  background-color: whitesmoke;
}
@mixin formButton {
  display: block;
  margin: 20px auto;
  width: 150px;
  height: 30px;
  background-color: #000;
  color: #ffffff;
  text-align: center;
}