@import "partials/header","partials/variables";
@import "partials/homepage_content","partials/homepage_slider";
@import "partials/mixins";
@import "partials/displaymsgs";
@import "partials/footer";
@import "partials/login_form";
@import "partials/register_form";
@import "partials/createpost-form";
@import "partials/editpost_form";
@import "partials/single";
@import "partials/about";
@import "partials/contact";
@import "partials/notfound";
@import "partials/search";
@import "partials/unsubscribe";
@import "partials/global";
@import "partials/category_page";



html, body { 
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color:#f8f8f8;
    line-height: $line-height;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}
.clear::after{
    content: "";
    display: block;
    clear: both;    
}

a{
    border: 1px solid grey;
    margin: 0px;
    padding: 10px;
    display: inline;
    text-decoration: none;
    color: #000;
}
a:hover{
    color: rgba(160, 58, 58, 0.562);
    transition: 0.3s;
}


        .main_content.single{
        background: white;
        padding: 20px 50px;
        font-size: 1.1em;
    }

    .main_content .main-post .comment{
        display: block;
        margin: 20px auto;
        text-align: center;
        box-shadow: 0px 0px 10px #666;
        width: 400px;
        height: 70px;
        background-color: whitesmoke;
    }

p{
    margin: 0;
    padding: 0;
    text-align: center;

    a{
        border: none;
    }
}


.manage-posts-user{
    display: block;
        .user-manage{
            margin: 50px auto;
            width: 90%;
            height: 20px;
        
            ul{
                display: inline;
                list-style: none;
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: 100%;
                
                li{
                    margin: 10px auto;
                    display: inline;
                    
                    a{
                        border-radius: 20px;
                        text-decoration: none;
                        color: black;
                        font-size: 1.1em;
                        padding: 20px;
                        margin: 5px;
                        background: rgb(218, 193, 146);
                        
                        &:hover{
                            background: rgb(245, 205, 131);
                            transition: 0.5s;
                        }
                    }
                }
            }
    }
    .main-content-user{
        width: 100%;
    
        .main-post-user{
            width: 90%;
            margin-right: 0px;
            margin: 10px;
            height: 350px;
            border-radius: 20px;
            background: wheat;
            position: relative;
            
            .image{
                width: 40%;
                height: 100%;
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
            }
            .post-preview{
                padding: 10px;
                width: 60%;
                float: right;
                text-align: left;
                border: none;

                .post-title{
                    border: none;
                    text-align: center;
                }
                .preview-text{
                    text-align: left;
                }
            }
            .edit-delete-btn{
                display: flex;
                list-style: none;
                bottom: 10px;
                right: 10px;
                position: absolute;
                

                li{
                    margin: 5px;
                }
                .btn.edit-link{
                   background-color: green;
                   margin-right: 5px;
                }
                .btn.delete-link{
                   background-color: red;
                   margin-left: 5px;
                }
            }
        }
    }
}

.manage-posts-admin{
    width: 100%;
    height: 100%;
    display: block;
        .admin-manage{
            margin: 50px auto;
            width: 90%;
            height: 20px;
            
            ul{
                display: inline;
                list-style: none;
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: 100%;
                
                li{
                    margin: 10px auto;
                    display: inline;
                    
                    a{
                        border-radius: 20px;
                        text-decoration: none;
                        color: black;
                        font-size: 1.1em;
                        padding: 20px;
                        margin: 5px;
                        background: rgb(218, 193, 146);
                        
                        &:hover{
                            background: rgb(245, 205, 131);
                            transition: 0.5s;
                        }
                    }
                }
            }
    }
    .main-content-admin{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-column-gap: 1.5rem;
        grid-row-gap: 2.0rem;
        grid-template-columns: 45% 45%;
        grid-auto-rows: max-content;
        background-color: #f8f8f8;
        padding: 0 5px;
        .main-post-admin{
            background-color: white;
            width: 100%;
            height: max-content;
            margin: 0 auto;
            border-radius: 3px;
            box-shadow: 0px 0px 10px antiquewhite;
            position: relative;
            
            .image{
                width: 100%;
                height: 220px;
                transition: 0.3s;
                margin: 0;
                padding: 0;
          
                &:hover{
                  opacity: 0.8;
              }
            }
            .post-preview-wrapper{
                margin: 10px;
                padding: 5px;
          
                .post-title{
                    display: block;
                    color: #000000;
                    font-size: 1.3rem;
                    font-weight: bold;
                    border: none;
                    padding-left: 0;
                }
                .post-preview{
                    border-top:2px solid whitesmoke;
          
                    span i{
                        padding: 3px;
                    }
                    i{
                        padding: 3px;
                    }
                    .author-name{
                        font-size: 0.9rem;
                        color: #AAAAAA;
                        padding: 3px;
                        &:hover{
                            color: $headcolor;
                        }
                    }
                    .post-date{
                        font-size: 0.9rem;
                        color: #AAAAAA;
                        padding: 3px;
                        &:hover{
                            color: $headcolor;
                        }
                    }
                    .desc {
                        width:100%;
                        overflow: hidden;
                        position: relative;
                        line-height: 1.2em;
                        max-height: 6em;
                        text-align: justify;
                        margin-right: -1em;
                        padding-right: 1em;
                        margin-bottom: 1rem;
                        &:before {
                            content: '...';
                            position: absolute;
                            right: 0;
                            bottom: 0;
                          }
                        &:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        width: 1em;
                        height: 1em;
                        margin-top: 0.2em;
                        background: white;
                        }
                      }
                }
            }
            .btns{
                width: 100%;
                display: block;
                height: 100%;
                margin: 1rem;
                .edit-delete-btn{
                    display: flex;
                    list-style: none;
                    top: 10px;
                    right: 10px;
                    position: absolute;
    
                    .li{
                        margin: 5px;
                    }
                    .btn.edit-link{
                       background-color: green;
                       margin-right: 5px;
                    }
                    .btn.delete-link{
                       background-color: red;
                       margin-left: 5px;
                    }
                }
            }
        }
    }
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgb(43, 41, 41);

    .edit-link{
        color: green;
        border-right: 1px solid gray;
    }
    .delete-link{
        border-left: 1px solid gray;
        color: red;
    }

    a{
        border: none;
    }
    thead tr{
        background-color: wheat;
        color: #000;
        text-align: left;
        font-weight: bold;
    }
    th, td{
        padding: 12px 15px;
    }
    tbody tr{
        border-bottom: 1px solid rgb(185, 170, 170);
        &:last-of-type{
            border-bottom: 2px solid wheat;
    
        }
    }
    
}

.index-dashboard{
        width: 80%;
        height: 20px;
        margin: 0px 50px 0px 50px;
}
.index-comments{
    width: 80%;
    height: 20px;
    margin: 20px auto;

    a{
        border-radius: 30px;
    }
}
.banner-button{
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 30px;
    background-color: #000;
    color: #ffffff;
}

/*
Media content : Mobile devices
*/

@media(max-width: 768px) {

    .slider-wrapper{
        .post-slider{
            .post-wrapper{
                .slick-next::after{
                    color: #000;
                }
                .slick-prev::after{
                    color: #000;
                }
            }
        }
    }
    .homepage-header-wrapper{
        header{
            display:flex;
            align-items: center;
            width: 100%;
            height: 65px;
            background-color: white;
        
            .hamburger{
                display: block;
                position: absolute;
            }
            .search{
                margin: 20px;
                padding-top: 50px;
                float: right;
                height: 100%;
                right: 20px;
            }
            .logo{
                width: 100%;
                margin: 20px;
                height: 100%;
                float: right;
            }
            .list.show{
                display: block;
                max-height: fit-content;
                position: absolute;
                top: 100%;
                background-color: #1f2024;
                border: 1px solid #1f2024;
            }
            ul{
                width: 100%;
                overflow: hidden;
                max-height: 0px;
                background-color: #1f2024;
            }
            ul li{
                    width: 100%;
            }
        }
    }
    .header-wrapper{
        header{
            display:flex;
            align-items: center;
            width: 100%;
            height: 65px;
            background-color: white;
        
            .hamburger{
                display: block;
                position: absolute;
            }
            .search{
                margin: 20px;
                padding-top: 50px;
                float: right;
                height: 100%;
                right: 20px;
            }
            .logo{
                width: 100%;
                margin: 20px;
                height: 100%;
                float: right;
            }
            .list.show{
                display: block;
                max-height: fit-content;
                position: absolute;
                top: 100%;
                background-color: #1f2024;
                border: 1px solid #1f2024;
            }
            ul{
                width: 100%;
                background-color: #1f2024;
                overflow: hidden;
                max-height: 0px;
            }
            ul li{
                    width: 100%;
        }
        }
    }

    .content{
        display: block;
        width: 95%;
        margin: 0px auto;

        .main_content{
            display: block;
            width: 100%;
            margin: 0 auto;

            .main-post{
                background-color: white;
                margin: 0px auto;
                width: 100%;
                margin-bottom: 15px;
                border-radius: 3px;
                box-shadow: 0px 0px 10px antiquewhite;
            }
        }
    }
    .contact-wrapper{
        width: 95%;
        margin: 0 auto;
        display: block;
    }
    .about-wrapper{
        width: 95%;
        margin: 0 auto;
        display: block;
    }
}
