*{
    box-sizing: border-box;
}
html { 
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body { 
    padding: 0;
    margin: 0;
    background-color:whitesmoke;
}
header {
    height: 60px;
    background-color: wheat ;
    box-shadow: 0 0 10px #000;
}
header nav h1
{
    float: left;
    height: inherit;
}
footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 60px;
    background-color: wheat ;
    box-shadow: 0 0 10PX #000;
    text-align: center;
    margin:0 auto;
}
footer ul li{
    list-style: none;
}
header nav ul {
    float: right;
    position: relative;
    right: 2%;
}
header nav ul li{
    display: inline;
    list-style: none;
}
header nav ul li a { 
    text-decoration:none;
    color: black;
    font-size: 18px;
    padding: 15px;
    transition: all 0.3s;
}
header nav ul li a:hover{ 
    font-size: 20px;
    transition: all 0.3s;
    color: #000;
    background-color: rgb(209, 194, 176);
}
header nav ul li ul li{
    font-weight: inherit;
    position: absolute;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    color: blue; 
}
h2
{
    text-align: left;
}
a{
    text-decoration:none;
    color: black;
    font-size: 18px;
    padding: 0px 0px 0px 20px;
    transition: all 0.5;
}
a:hover{
    color: blue; 
}
.res{
        display: block;
        margin: 20px auto;
        text-align: center;
        box-shadow:0 0 10px #666;
        width: 300px;
        height: 30px;
        background-color: #f2f2f2;
}
div{
    width: 400px;
    margin: 0 auto;
    text-align: left;
    border:2px #000;
}
.respad{
    padding: 10px;
}
.formborder{
    padding: 10px;
    box-shadow: 0 0 10PX #000;
    background: wheat;
}
.formlinks{
    display: block;
    margin: 20px auto;
    text-align: center;
}
.resbutton{
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 30px;
    background-color: #000;
    color: #ffffff;
    text-align: center;
}
.content{
    width: 90%;
    margin: 30px auto 30px;

}
.content .main_content{
    width: 70%;
    float: left;
}
.content .main_content .post{
    width: 95%;
    height: 270px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: white;
    position: relative;
}
.content .main_content .post .post_image{
    width: 40%;
    height: 100%;
    float: left;
}
.content ,.main_content .post_title{
    margin: 20px;
    text-align: left;
}
.content .sidebar{
    width: 30%;
    float:left;
    height: 300px;
}
.content .sidebar .section{
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background: white;
    margin-top: 80px;
}
.content .sidebar .section .category{
    padding: 2px;
}
.content .sidebar .section.category ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid grey;
}
.content .sidebar .section.category ul li a{
    display: block;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid grey;
    transition: all 0.3s;
}
.content .sidebar .section.category ul li a:hover{
    padding-left: 10px;
    transition: all 0.3s;
    background-color: wheat;
}
.content .main_content .post .post_preview{
    padding: 10px;
    width: 60%;
    float: right;
}
.link{
    padding: .5rem 1rem;
    background: #666;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.content .main_content .post .btn
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}