@import "partials/header";
@import "partials/variables";
@import "partials/homepage_content";
@import "partials/homepage_slider";
@import "partials/mixins";
@import "partials/displaymsgs";
@import "partials/footer";
@import "partials/login_form";
@import "partials/register_form";
@import "partials/createpost-form";
@import "partials/editpost_form";

*{
    box-sizing: border-box;
}
html, body { 
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color:#f8f8f8;
    line-height: $line-height;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}
.clear::after{
    content: "";
    display: block;
    clear: both;    
}

a{
    border: 1px solid grey;
    margin: 0px;
    padding: 10px;
    display: inline;
    text-decoration: none;
    color: #000;
}
a:hover{
    color: rgba(160, 58, 58, 0.562);
    transition: 0.3s;
}


        .main_content.single{
        background: white;
        padding: 20px 50px;
        font-size: 1.1em;
    }

    .main_content .main-post .comment{
        display: block;
        margin: 20px auto;
        text-align: center;
        box-shadow: 0px 0px 10px #666;
        width: 400px;
        height: 70px;
        background-color: whitesmoke;
    }

p{
    margin: 0;
    padding: 0;
    text-align: center;

    a{
        border: none;
    }
}




.single-main-content{
    display: block;
    width: 90%;
    height: 100%;
    margin: 0px auto;
    bottom: 0%;


    .full-content{
        border: 1px solid black;
        width: 80%;
        height: 50%;
        background-color: #ffffff;
        margin: 20px auto;

        .posts-title{
            text-align: left;
            margin-left: 20px;
            position: relative;

            ul{
                list-style: none;
                float: right;
                display: flex;
                margin: 5px;
                padding: 5px;
                .like-button{ 
                    top: 10px;
                    right: 60px;
                    height: 40px;
                    padding-right: 5px;
                    border: none;
                }
                .dislike-button{
                    top: 10px;
                    right: 20px;
                    height: 40px;
                    padding-right: 5px;
                    border: none;
                }
            }
            
        }

        .inner-content{
            display:block;
            .post-image{
                padding: 20px;
                margin: 0px 60px;
            }
            p{
                text-align: left;
                padding: 20px;
                margin: 0px auto;
                width: 90%;
   
                
            }
        }
    }
    .side-content{
        margin-top: 30px;
        margin: 0px auto;
  
        width: 80%;
        background-color: #ffffff;

        h2{
            margin-left: 20px;
            margin-bottom: 5px;
        }
        form{
            width: 65%;
            display: block;
            margin: 0px 20px;

            h3{
                margin: 5px;
            }
            .enter-name{
                border: none;
                margin: 5px;
                box-shadow: 0px 0px 5px #666;
            }
            .enter-comment{
                border: none;
                margin: 5px;
                width: 100%;
                height: 50px;
                box-shadow: 0px 0px 5px #666;
            }
            .post-comment{
                margin: 5px 5px;
                padding: 0px;
                width: 50px;
                height: 30px;
                background-color: #000;
                color: #ffffff;
                text-align: center;
            }
        }
        .comment-section{
            overflow: visible;
            margin: 10px 5px;
         
            border-radius: 5px;
           
            .comment-name{
                margin-left: 10px;
                padding: 10px;
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 10px;
                padding-bottom: 15px;

                i{
                    padding-top: 5px;
                    font-size: 1.5rem;
                }
            }
            .comment{
                margin-left: 30px;
                text-align: left;
                padding-bottom: 15px;
                font-size: 1rem;
                border-bottom: 1px solid black;
            }
        }
    }
}



.manage-posts-user{
    display: block;
        .user-manage{
            margin: 50px auto;
            width: 90%;
            height: 20px;
        
            ul{
                display: inline;
                list-style: none;
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: 100%;
                
                li{
                    margin: 10px auto;
                    display: inline;
                    
                    a{
                        border-radius: 20px;
                        text-decoration: none;
                        color: black;
                        font-size: 1.1em;
                        padding: 20px;
                        margin: 5px;
                        background: rgb(218, 193, 146)
                    }
                    a:hover{
                        background: rgb(245, 205, 131);
                        transition: 0.5s;
                    }
                }
            }
    }
    .main-content-user{
        width: 100%;
    
        .main-post-user{
            width: 90%;
            margin-right: 0px;
            margin: 10px;
            height: 350px;
            border-radius: 20px;
            background: wheat;
            position: relative;
            
            .image{
                width: 40%;
                height: 100%;
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
            }
            .post-preview{
                padding: 10px;
                width: 60%;
                float: right;
                text-align: left;
                border: none;

                .post-title{
                    border: none;
                    text-align: center;
                }
                .preview-text{
                    text-align: left;
                }
            }
            .edit-delete-btn{
                display: flex;
                list-style: none;
                bottom: 10px;
                right: 10px;
                position: absolute;
                

                li{
                    margin: 5px;
                }
                .btn.edit-link{
                   background-color: green;
                   margin-right: 5px;
                }
                .btn.delete-link{
                   background-color: red;
                   margin-left: 5px;
                }
            }
        }
    }
}

.category-content{
    width: 100%;
    margin: 30px auto 30px;
    
    .main_content{
        width: 100%;
        float: left;

            .single{
            background: white;
            padding: 20px 50px;
            font-size: 1.1em;

            h1.post{
                background: transparent;
                margin: 0;
                padding: 0;
            }
        }
        .main-post{
            width: 90%;
            height: 270px;
            margin: 20px;
            border-radius: 5px;
            background: whitesmoke;
            
            .image{
            width: 40%;
            height: 100%;
            float: left;
            }
            .post-preview{
                padding: 10px;
                width: 60%;
                float: right;
            }
        }
    }
}
.manage-posts-admin{
    width: 100%;
    height: 100%;
    display: block;
        .admin-manage{
            margin: 50px auto;
            width: 90%;
            height: 20px;
        
            ul{
                display: inline;
                list-style: none;
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: 100%;
                
                li{
                    margin: 10px auto;
                    display: inline;
                    
                    a{
                        border-radius: 20px;
                        text-decoration: none;
                        color: black;
                        font-size: 1.1em;
                        padding: 20px;
                        margin: 5px;
                        background: rgb(218, 193, 146)
                    }
                    a:hover{
                        background: rgb(245, 205, 131);
                        transition: 0.5s;
                    }
                }
            }
    }
    .main-content-admin{
        width: 100%;
    
        .main-post-admin{
            width: 90%;
            margin-right: 0px;
            margin: 10px;
            height: 350px;
            border-radius: 20px;
            background: wheat;
            position: relative;
            
            .image{
                width: 40%;
                height: 100%;
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
            }
            .post-preview{
                padding: 10px;
                width: 60%;
                float: right;
                text-align: left;
                border: none;

                .post-title{
                    border: none;
                    text-align: center;
                }
                .preview-text{
                    text-align: left;
                }
            }
            .edit-delete-btn{
                display: flex;
                list-style: none;
                bottom: 10px;
                right: 10px;
                position: absolute;

                .li{
                    margin: 5px;
                }
                .btn.edit-link{
                   background-color: green;
                   margin-right: 5px;
                }
                .btn.delete-link{
                   background-color: red;
                   margin-left: 5px;
                }
            }
        }
    }
}
.main-content-search{
    width: 100%;

    .main-post-search{
        width: 90%;
        margin-right: 0px;
        margin: 10px;
        height: 300px;
        border-radius: 20px;
        background: wheat;
        position: relative;
        
        .image{
            width: 40%;
            height: 100%;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
        }
        .post-preview{
            padding: 10px;
            width: 60%;
            float: right;
            text-align: left;
            border: none;

            .post-title{
                border: none;
                text-align: center;
            }
            .preview-text{
                text-align: left;
            }
        }
        .edit-delete-btn{
            display: flex;
            list-style: none;
            bottom: 10px;
            right: 10px;
            position: absolute;

            .li{
                margin: 5px;
            }
            .btn.edit-link{
               background-color: green;
               margin-right: 5px;
            }
            .btn.delete-link{
               background-color: red;
               margin-left: 5px;
            }
        }
    }
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgb(43, 41, 41);

    .edit-link{
        color: green;
        border-right: 1px solid gray;
    }
    .delete-link{
        border-left: 1px solid gray;
        color: red;
    }

    a{
        border: none;
    }
    thead tr{
        background-color: wheat;
        color: #000;
        text-align: left;
        font-weight: bold;
    }
    th, td{
        padding: 12px 15px;
    }
    tbody tr{
        border-bottom: 1px solid rgb(185, 170, 170);
    }
    tbody tr:last-of-type{
        border-bottom: 2px solid wheat;

    }
}

.index-dashboard{
        width: 80%;
        height: 20px;
        margin: 0px 50px 0px 50px;
}
.index-comments{
    width: 80%;
    height: 20px;
    margin: 20px auto;

    a{
        border-radius: 30px;
    }
}
.banner-button{
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 30px;
    background-color: #000;
    color: #ffffff;
}


/*
Media content
*/

@media(max-width: 768px) {
    header{
            position: relative;
    }
    header .list.show{
            display: block;
            max-height: 200px;
    }
    header ul{
            width: 100%;
            background: rgb(248, 213, 147);
            overflow: hidden;
            max-height: 0px;
    }
    header ul li{
            width: 100%;

    }
    header .hamburger{
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 1.9em;
    }
    .content .main_content{
        grid-template-rows: 31% 31% 31%;
    }
    .banner{
            text-align: center;
            background:rgb(172, 190, 91);
    }
    .post-slider{
        width: 100%;
        position: relative;
    }
    .post-slider .post-wrapper{
        width: 100%;
    }
    .post-slider .post-wrapper .post{
        display: inline-block;
        width: 48%;
        border-radius: 5px;
    }
    .post-slider .post-wrapper .post .slider-image{
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .post-slider .next{
        position: absolute;
        top: 45%;
        right: 30px;
        font-size: 1.5em;
        color: black;
        cursor: pointer;
        border-radius: $nav_btn_radius;
    }
    .post-slider .prev{
        position: absolute;
        top: 45%;
        left: 30px;
        font-size: 1.5em;
        color: black;
        cursor: pointer;
        overflow: hidden;
        border-radius: $nav_btn_radius;
    }
    .content{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-column-gap: 1em;
        width: 90%;
        margin: 10px auto;

        .main-content{
            display: grid;
            gap:2em;
            grid-template-columns: 32%;
            grid-template-rows: 32%;

            .main-post{
                background-color: white;
                margin: 0px auto;
                width: 89%;
                height: 400px;
                margin-bottom: 15px;
                border-radius: 3px;
                box-shadow: 0px 0px 6px #666;
                .post-image{

                }
                .post-preview-wrapper{
                    .post-preview{
                        .author-name{

                        }
                        .post-date{

                        }
                        .desc{

                        }
                    }
                }
            }
        }
    }
}